{% extends 'base.html' %}

{% block title %}
Manage page
{% endblock %}

{% block content %}
<h1 class="head">Manage details</h1>
    <table>
        <thread>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Hometown</th>
                <th scope="col">Email</th>
                <th scope="col">Date join</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thread>
        <tr>
        {% for item in items %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.age }}</td>
            <td>{{ item.hometown }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.datejoin }}</td>
            <td><a href="/edit/{{item.id}}"><button type="button" class="btn btn-info">Edit</button></a></td>
            <td><a href="/delete/{{item.id}}"><button type="button" class="btn btn-info">Delete</button></a></td>
          </tr>
        {% endfor %}
        </tbody>
{% endblock %}